body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: 0;
}

ul{
  margin: 0;
  padding: 0;
}

/*Header*/

header{
  background-color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  /* the code below was used to see where the header ended*/
  /*border-bottom: #193C0D 3px solid;*/
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  color: #4E763B;
  font-size: 16px;
}

/*header ul{
  margin: 0;
  padding: 0;
}*/

header li{
  display: inline;
  padding: 0px 20px 0px 20px;
  float: left;
}

header a:hover{
  font-weight: bold;
  color: #193C0D;
}

header #logo{
  float: left;
}

header #logo h2{
  font-family: 'Satisfy', cursive;
  color: #4E763B;
  line-height: 0;
  margin-top: 15px;
}

header nav{
  float: right;
}

#showcase{
  min-height: 600px;
  background: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background-color: burlywood;*/
  text-align: center;
  color: #193C0D;
}

#showcase div{
  padding: 20px 40px 20px 40px;
}

#showcase h2{
  text-transform: uppercase;
  margin-top: 225px;
  margin-bottom: 10px;
  font-size: 50px;
}

.paragraph{
  min-height: 100px;
  margin: 50px 20px 50px 20px;
}

#team{
  min-height: 500px;
  border-bottom: #193C0D 2px solid;
}

#team img{
  float: left;
  width:40%;
}

#sidebar{
  float: right;
 /* margin: 20px 40px 20px 40px;*/
  width: 58%;
  text-align: center;
}

footer{
 
  margin-top: 20px;
  text-align: center;
}